:root {
    --ease-default: cubic-bezier(.91,0,.06,1)
}

.btn_main_wrap {
  position: relative;
  overflow: hidden;
}

.btn_bg {
  transform-origin: bottom;
  transition: transform 0.8s var(--ease-default);

}

.btn_cutout {
  transition: transform 0.5s var(--ease-default);
}

.btn_main_wrap:hover .btn_bg {  
  transform: scaleY(1);
}

.btn_main_wrap:hover .btn_cutout {
  transform: translateX(-100%);
}

.btn_main_wrap:hover .btn_cutout:last-child {
  transform: translateX(100%);
}

/* ----- NAVIGATION ----- */

/* Nav Dropdown */
@media (hover: hover) and (pointer: fine) {
  .nav_dropdown {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px) scale(0.4) rotate(0deg);
    transform-origin: top;
    transition: all 0.1s var(--ease-spring);
  }

  .nav_dropdown-w:hover .nav_dropdown
 {
    visibility: visible;
    opacity: 1;
    transform: translateY(0) scale(1) rotate(0.001deg);
    transition: all 0.45s var(--ease-spring);
  }

  .nav_link:hover {
    opacity: 0.6;
  }
}
